__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.png
*.gz
*ubyte
env/
venv/
.venv/
*/bin/activate
*/Scripts/activate
*.egg-info/
.tox/
.coverage
.pytest_cache/
htmlcov/
.mypy_cache/
.dmypy.json
.vscode/
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.bak
*.swp
*~
.idea/
.project
.settings
.factorypath
.classpath
.project
.pydevproject
.cache/
.ipynb_checkpoints/
